/*---------------------------------------------------
    MENU SECTION ANIMATION
-----------------------------------------------------*/
.menu {
    color: rgb(247, 138, 119);
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: rgb(39, 32, 46);
    background-color: rgba(238, 218, 218, 0.815);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #dfa9bd;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    /*background-color: #052136;*/
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu:hover {
    color:  rgba(231, 112, 91, 0.87);
    background-color: #e7afa085;
}

/*-----------------------------------------------------------------
    GALLERY SECTION ANIMATION
-------------------------------------------------------------------*/
.row > .column {
    padding: 10px 10px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that float next to each other */
.column {
    float: left;
    width: 12%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(198, 132, 211, 0.808);
}

/* Modal Content */
.modal-conent {
    position: relative;
    background-color: #fefefe;
    margin-left: 10%;
    padding:0;
    width:90%;
    max-width: 1000px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:rgba(240, 110, 110, 0.719);
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by deafult */
.mySlides {
    display: none;
}

.mySlides img {
    padding-left: 20%;
    padding-right: 10%;
}

/* Next/Previous buttons */
.prev, 
.next {
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    padding-top: 10%;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the Next button to the right */
.next {
    right:0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with slight transparency */
.prev:hover,
.next:hover {
    background-color: rgba(211, 180, 218, 0.808);
}

/* Number text (1/6 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: rgba(198, 132, 211, 0.808);
    padding: 2px 16px;
    color:white;
}

img{
    width: 100%;
    height: 100%;
}

img.opThumb-controls {
    opacity: 0.6;
    padding-bottom: 150px ;
}

.active, 
.opThumb-controls:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}