body {
    background-color: lightpink;    
}

.navbar {
    overflow:hidden;
    background-color: palevioletred;
    position:fixed;
    top:0;
    width: 100%;
    left: 0;

}
 .navbar a {
    float:left;
    display: block;
    color:papayawhip;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 40px;
 }

 .navbar a:hover {
     background: rgb(240, 162, 188);
     color:papayawhip;
 }

 .main {
     margin-top: 30px;
 }

#home {
    background: url(../Images/sm_aesthetic.png) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height:auto;
    padding-top: 350px; /* This is a spacer before the Main title Logo */
    padding-bottom: 500px; /* This is spacer after the Main title Logo */
    color: rgb(226, 202, 202);
    margin-bottom: 100px;
}

.container {
    position: relative;
    text-align: center;
    color: pink;
}

.head-main{
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color:#e785ab;
    letter-spacing: 2pt;
    word-spacing: 16pt;
    font-size: 4.5em;
    text-align: left;
    font-family:cursive;
    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% -50%);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:rgb(248, 247, 246);
    text-shadow: 20px 20px 20px solid rgba(77, 38, 51, 0.945);
    padding-top:50px;
    text-align: center;
}

}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 15px solid rgba(216, 112, 147, 0.705);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 20px 15px rgba(77, 38, 51, 0.945); 
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 600px;
    height: 550px;
    border: 15px solid rgba(216, 112, 147, 0.705);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 2px 2px 20px 15px rgba(77, 38, 51, 0.945);
}

.photo-container img {
    max-width: 100%;
    width: 600px;
    height: 550px;
    border-radius: 30px 30px 30px 30px;
}

 table {
    font-family: Arial, Helvetica, sans-serif;
    color:peachpuff;
    background-color: palevioletred;
    border: 5px solid plum;
    border-radius: 8px auto;
    width:50%;
    margin-left:auto;
    margin-right: auto;

}

 td, tr, th {
     border:plum;
     padding:8px;
     text-align: center;
 }

footer{
    display:block;
    width: 100%;
    position:absolute;
    background-color: rgba(224, 101, 142, 0.466);
    color: rgb(253, 251, 251);
    font-weight: bold;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding:10px 25px 10px 25px;
    text-align: center;
    margin-top: 100px;
    margin-left: -10px;
}