body {
    background-color:rgb(192, 116, 128);
}

h1 {
    color:lavenderblush;
    margin-left: 100px;
    text-shadow: 1px .5px rgba(0,0,0, 0,6);
}

.container {
    width: 450px;
    height: 450px;
    background-color: rgb(238, 163, 174);
    border: 2px black;
    border-radius: 5%;
}

/* ---------------------------------------------
    SELECT ALL SQUARES IN THE ARRAY
------------------------------------------------*/
.container .squares:nth-child(-n+4) {
    background-image: url("../images/icons/smileyface2.png") ;
    color: paleturquoise;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px black;
    border-radius:25%;
    cursor:pointer;
    transition: transform .5% ease-in-out;
}

/* ----------------------------------------------
    SELECT ALL SQUARES PARAGRAPHS IN HTE ARRAY
-------------------------------------------------*/
.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif ;
    font-size: .75cm;
    font-weight: 700;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px black;
}

/*-----------------------------------------------
     INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
-------------------------------------------------*/
.squares:nth-child(1) {
    background-color:rgb(255, 105, 180);
}

.squares:nth-child(2) {
    background-color:rgb(173, 216, 230);
}

.squares:nth-child(3) {
    background-color:rgb(141, 65, 141);
}

.squares:nth-child(4) {
    background-color:rgb(216, 112, 147);
}

/*-------------------------------------------------
    HOVER, TRANSLATE, & TRANSFORMS EFFECTS
---------------------------------------------------*/
.container .squares:nth-child(-n+4):hover {
    background-image: url("../images/Icons/smileyface1.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);

}

.squares:nth-child(1):hover {
    background-color:rgb(238, 52, 145);
}

.squares:nth-child(2):hover {
    background-color:rgb(25, 159, 204);
}

.squares:nth-child(3):hover {
    background-color:rgb(82, 37, 82);
}

.squares:nth-child(4):hover {
    background-color:rgb(216, 56, 109);
}

/*---------------------------------------------------
    ANIMATION EFFECT
-----------------------------------------------------*/
@keyframes race {
    0%, 100% {
        transform: translateY(0px);
        background-image: url("../Images/Icons/smileyface1.png")
    }
    50% {
        transform: translateY(330px);
    }
}
